{{!
    This file is part of Moodle - http: //moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http: //www.gnu.org/licenses/>.
}}
{{!
    @template mod_placeholders/persona

    Table of contents for persona

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * items - An array of items
}}

{{#people}}
<div class="table-responsive">
    <table class="table table-striped table-sm placeholders_persona">
        <caption>{{name}} {{{photo}}}</caption>
        <tr>
            <th scope="row">{{#str}}email, local_placeholders{{/str}}</th>
            <td><a href="mailto:{{email}}" title="Email for {{name}}">{{email}}</a>{{#skype}}, <a href="sip:{{email}}" title="{{#str}}contactskype, local_placeholders, {{name}}{{/str}}">
            <i class="fa fa-skype"></i> {{#str}}skypeforbusiness, local_placeholders{{/str}}</a>{{/skype}}</td>
        </tr>
        {{#room}}
        <tr>
            <th scope="row">{{#str}}room, local_placeholders{{/str}}</th>
            <td>{{{.}}}
            </td>
        </tr>
        {{/room}}
        {{#phone}}
        <tr>
            <th scope="row">{{#str}}phone, local_placeholders{{/str}}</th>
            <td>{{.}}</td>
        </tr>
        {{/phone}}
        {{#social}}
        <tr>
            <th scope="row">{{#str}}social, local_placeholders{{/str}}</th>
            <td class="placeholders-sociallinks">
            {{#accounts}}
                <a href="{{baseurl}}{{handle}}" title="{{#str}} socialtitle , local_placeholders, { 
                    "name": {{#quote}} {{person}} {{/quote}},
                    "service": {{#quote}} {{service}} {{/quote}} }{{/str}}">
                <i class="fa fa-{{faicon}}"></i> @{{handle}}</a>{{^last}}, {{/last}}
            {{/accounts}}
            </td>
        </tr>
        {{/social}}
    </table>
</div>
{{/people}}