<table class="table table-striped">
    <tr>
        <th>When</th>
        <th>Where</th>
    </tr>
    {{#classes}}
    <tr>
        <td>{{start}} - {{end}}</td>
        <td>{{location}}</td>
    </tr>
    {{/classes}}
</table>

<p>{{stuff}}</p>